PORT=3055
NODE_ENV=dev
APP_URL=http://localhost:3055

DEV_DB_HOST=localhost
DEV_DB_PORT=5432
DEV_DB_USER=postgres
DEV_DB_PASSWORD=postgres
DEV_DB_NAME=shopee_clone

# Production (used by docker-compose.prod.yml)
PROD_DB_HOST=postgres
PROD_DB_PORT=5432
PROD_DB_USER=ecommerce
PROD_DB_PASSWORD=change_me_strong_password
PROD_DB_NAME=ecommerce
